@{
    ViewData["Title"] = "Sedes";
}
<h1> Brasil </h1>

<div class="card postal">
    <div class="row">
        <div class="col-sm">
            <img src="~/img/postales/brasilia.jpg" asp-append-version="true" class="card-img-top" alt="Brasilia">
        </div>
        <div class="col-sm">
             <div class="card-body">
                <h5 class="card-title">Brasilia</h5>
                <p class="card-text">
                    Fundada en 1960 como capital de Brasil y ubicada en un punto central del país, puede que Brasilia no tenga muchos años de vida, pero es un museo al aire libre. La ciudad fue planificada y desarrollada por los arquitectos icónicos Oscar Niemeyer y Lúcio Costa y está llena de obras de estos dos genios.
                    A pesar de no tener ningún equipo en la élite del fútbol nacional en la actualidad, Brasilia se enorgullece de tener el Estadio Mané Garrincha, recientemente renovado para albergar el Mundial de 2014.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card postal">
    <div class="row">
        <div class="col-sm">
             <div class="card-body">
                <h5 class="card-title">Goiânia</h5>
                <p class="card-text">
                    Cercana a Brasilia, a unos 200 kilómetros de la capital del país, se encuentra Goiânia. Una de las ciudades más grandes del interior de Brasil y capital del estado de Goiás, es una verdadera potencia en la producción agrícola nacional.
                    Goiânia se enorgullece de tener una de las tasas de áreas verdes por habitante más altas del mundo, de su famosa música country y, por supuesto, de sus equipos tradicionales de fútbol. En concreto, Goiás, Vila Nova y Atlético Goianiense (ahora en la Serie A del Campeonato Brasileño).                </p>
            </div>
        </div>
        <div class="col-sm">
            <img src="~/img/postales/goiania.png" asp-append-version="true" class="card-img-top" alt="Goiânia">
        </div>
    </div>
</div>

<div class="card postal">
    <div class="row">
        <div class="col-sm">
            <img src="~/img/postales/cuiaba.jpg" asp-append-version="true" class="card-img-top" alt="Cuiabá">
        </div>
        <div class="col-sm">
             <div class="card-body">
                <h5 class="card-title">Cuiabá</h5>
                <p class="card-text">
                    Una de las grandes maravillas naturales de Brasil es el Pantanal, una llanura inundada que se extiende hasta Bolivia y Paraguay, hogar de una inmensa diversidad de fauna y flora. Y en las cercanías de este paraíso se encuentra Cuiabá, capital del estado de Mato Grosso y una de las sedes de la CONMEBOL Copa América 2021, con el Estadio Arena Pantanal.
                    Rodeada también por la imponente Chapada dos Guimarães y por ríos que ofrecen los deliciosos pescados de la gastronomía local, la ciudad cuenta desde 2021, después de muchos años, con un representante en la Serie A del Campeonato Brasileño, el Cuiabá Esporte Clube.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card postal">
    <div class="row">
        <div class="col-sm">
            <div class="card-body">
                <h5 class="card-title">Rio de Janeiro</h5>
                <p class="card-text">
                    “Ciudad maravillosa”. El apodo con el que se conoce a Río de Janeiro lo dice todo. Es uno de los lugares turísticos más impresionantes de Brasil y del mundo. Además de mucha samba, belleza y alegría, Río y su gente hospitalaria también destilan fútbol.
                    De esta ciudad son los gigantes Flamengo, Botafogo, Fluminense y Vasco da Gama, así como el mítico Estadio Maracaná, que fue sede principal y escenario de la final de la CONMEBOL Copa América 2019 y en 2021 volverá a recibir a las grandes estrellas del fútbol mundial, así como el Estadio Nilton Santos (Engenhão).
            </div>
        </div>
        <div class="col-sm">
            <img src="~/img/postales/corcovado.jpg" asp-append-version="true" class="card-img-top img-fluid" alt="Rio de Janeiro">
        </div>
    </div>
</div>